/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap");

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  align-items: center;
}

.breack,
.session {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}
/*
.box {
  background: #f8dde1;
  border: 5px solid white;
  border-color: white;
  padding: 0px;
  margin: 0 10px; 
  width: 20px;
  height: 20px;
  text-align: center;
}
*/

/*
.boxButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f8dde1;
  border: 5px solid white;
  border-color: white;
  padding: 10px;
  margin-left: 10px; 
  width: 100px;
  text-align: center;
}
*/

/*
.digital {
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: bold;
  color: rosybrown;
  padding: 10px;
  margin: 0 10px; 
  width: 30px;
  height: 30px;
}
  */

/*
.lineButtonTop {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}
*/

/*
.lineButtonEnd {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
}
  */
/*
.lineReloj {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 0px; 
}
  */

/*
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  height: 300px; 
  background-color: pink; 
  border-radius: 50%; 
}
*/
